* {
	font-family: system-ui, -apple-system, Helvetica, Sans-serif;
}

body {
	font-size: 20px;
	line-height: 35px;
	padding: 0;
	margin: 0;
	background-color: #111111;
	color: #ffffff;
}

.header {
	padding: 1px 20px;
	background-color: #222222;

	ul, li {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		margin-right: 20px;
		display: inline-block;
		cursor: pointer;

		&.active {
			text-decoration: underline;
			color: red;
		}
	}
}

.content {
	padding: 20px;
}

.mainTimerUI {
	text-align: center;

	.timer {
		font-family: ui-monospace, Menlo, Monaco, monospace;
		font-weight: normal;
		text-shadow: rgba(0,0,0,0.3) 0 8px 10px;
		font-size: 100px;
		height: 150px;
		line-height: 150px;
		margin: 0;
		margin-bottom: 30px;
	}

	&.red {
		background-color: red;
	}
	
	&.orange {
		background-color: orange;
	}
}

button {
	background-color: #0096FF;
	color: #ffffff;
	border: 0;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 0 5px;
	font-size: 16px;
	box-shadow: rgba(0,0,0,0.2) 0 8px 10px;
}

button.red {
	background-color: red;
}

button.orange {
	background-color: orange;
}

button.gray {
	background-color: #555555;
}

.flashIntervalWrapper {
	font-size: 18px;
	margin-top: 30px;
	color: #444444;

	input {
		margin: 0 10px;
		background-color: transparent;
		color: #666666;
		border: 0;
		border-bottom: 1px solid #444444;
		text-align: center;
		width: 30px;
		font-weight: bold;
		font-size: 16px;
	}
}

.checkpoints {
	border-top: 1px solid #333333;
	margin: 30px auto 0 auto;
	padding-top: 10px;
	max-width: 300px;
	text-align: left;
	color: #777777;
}